{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<style>

  

    .children form {
    margin-left: 0px;
    }
    .children .children form{
    margin-left: 0px;
    }

    @media screen and(min-width:720px) {
      .children form{
        margin-left: -48;
      }
      .children .children form{
        margin-left: -96;
      }
    }

</style>
{% include 'blog/nav.html' %}
<!-- Page Content -->
<div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ post.title }}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{ post.author }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{ post.date_created }}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->
        {% if post.lead %}
        <p class="lead">{{ post.lead }}</p>
        {% endif %}
        <p>{{ post.post_body|safe }}</p>

        <hr>
        <hr>
                <!-- Single Comment -->
                {% if not post.comments.all %}
                <p>There are no comments for this post.</p>
                {% else %}
                {% load mptt_tags %}
                {% recursetree post.comments.all %}
                <div class="media" id="{{ node.id }}">
                  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                  <div class="media-body">                  
                    <h5 class="mt-0">{{ node.name }}</h5>
                    <small>on {{ node.published }}</small><br>
                    {{ node.content}}<br>
                    {% if node.level < 3 %}
                    <button class="btn btn-sm btn-primary btn-sml" onclick="myFunction({{node.id}})">reply</button>
                    {% endif %}                 
                  </div>
                </div><br>
                {% if not node.is_leaf_node %}
                <div class="children">
                <div class="media pl-2 pl-md-5">     
                  <div class="media-body">                  
                    
                    <small></small>
                    {{ children}}                   
                  </div> 
                </div>
                </div><br>
                {% endif %}
                {% endrecursetree %}
                {% endif %}
        
                <!-- Single Comment -->
                <div class="media mb-4">
                  <div class="media-body">
                    {% with post.comments.count as total_comments %}
                    <h5 class="mt-0">{{ total_comments }} comment{{ total_comments|pluralize }}</h5>
                    {% endwith %}
                  </div>
                </div>

                <!-- Comments Form -->
              <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                  <form action="{% url 'add_comment' post.slug %}" id="myForm"  method="POST">
                    {% csrf_token  %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
      </div>
      {% include 'blog/side_widget.html' %}
      </div>
      
    </div>
    <!-- /.row -->
    
  </div>
  <!-- /.container -->
  <script>
    function formExit(){
      document.getElementById("newForm").remove();
    }

    function  myFunction(id){

      if (document.contains(document.getElementById('newForm'))){
        document.getElementById("newForm").remove();
      }

      var a = document.getElementById(id);
      
      a.insertAdjacentHTML('afterend', 
       
      '<form action="{% url 'add_comment' post.slug %}"id="newForm" class="form-insert py-2" method="post"> \
        <div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type="button" class="btn btn-outline-secondary" onclick="formExit()"">Close</button></div></div> \
        <label for="id_name">Name:</label> \
        <input type="text" name="name" class="form-control" maxlength="255" required id="id_name"> \
        <select name="parent" class="d-none" id="id_parentt"> \
        <option value="' + id + '" selected="' + id +'"></option> \
        </select> \
        <label for="id_email">Email:</label> \
        <input type="email" name="email" class="form-control" maxlength="254" required id="id_email"> \
        <label for="id_content">Content:</label> \
        <textarea name="content" cols="20" rows="5" class="form-control" required id="id_content"></textarea> \
        <br> \
        {% csrf_token %} \
        <button type="submit" class="btn btn-primary">Submit</button> \
      </form>');
    }


    $('#myForm').trigger("reset");
  </script> 




  {% endblock %}