{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
{% include 'blog/nav.html' %}
<!-- Page Content -->
<div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ post.title }}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{ post.author }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{ post.date_created }}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->
        {% if post.lead %}
        <p class="lead">{{ post.lead }}</p>
        {% endif %}
        <p>{{ post.post_body|safe }}</p>

        <hr>
        <hr>
                <!-- Single Comment -->
                {% if not post.comments.all %}
                <p>There are no comments for this post.</p>
                {% else %}
                {% for comment in post.comments.all %}
                <div class="media mb-4">
                  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                  <div class="media-body">                  
                    <h5 class="mt-0">{{ comment.name }}</h5>
                    <small>on {{ comment.published }}</small>
                    {{ comment.content|linebreaks }}                    
                  </div>
                </div>
                {% endfor %}
                {% endif %}
        
                <!-- Single Comment -->
                <div class="media mb-4">
                  <div class="media-body">
                    {% with post.comments.count as total_comments %}
                    <h5 class="mt-0">{{ total_comments }} comment{{ total_comments|pluralize }}</h5>
                    {% endwith %}
                  </div>
                </div>

                <!-- Comments Form -->
              <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                  <form action="{% url 'add_comment' post.slug %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token  %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
      </div>
      {% include 'blog/side_widget.html' %}
      </div>
      
    </div>
    <!-- /.row -->
    
  </div>
  <!-- /.container -->
  {% endblock %}