{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
{% include 'blog/nav.html' %}
<!-- Main jumbotron for a primary marketing message or call to action -->

<section class="inner-banner" style="background-image:#242c36 url(https://via.placeholder.com/1920x600)no-repeat;">
    <div class="container">
        <div class="caption">
            <h2>Get your jobs</h2>
            <p>Get your Popular jobs <span>202 New job</span></p>
        </div>
    </div>
</section>

 <!-- Blog Post -->
 <br><br><br>

 <section class="container">
     <div class="row">     
        <div class="col-md-8">
            {% for post in object_list %}
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text"></p>{{ post.post_body|slice:":300"|safe }}</p>
                <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                {{ post.date_created }} by
                <a href="#">{{ post.author }}</a>
                </div>
            </div>
            {% endfor %}
            </div>
            {% include 'blog/side_widget.html' %}
        </div>
    </div>
</section>


 <!-- Pagination -->
 <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
    <a class="page-link" href="#">&larr; Newer</a>
    </li>
    <li class="page-item disabled">
    <a class="page-link" href="#">Older &rarr;</a>
    </li>
</ul>

{% endblock %}