
      {% load static %}

      {% block content %}
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
              </span>
            </div>
          </div>
        </div>
        <br><br><br>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Subscribe to our Newsletter!</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name...">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email...">
              </div>
              <button type="button" class="btn btn-primary btn-md btn-block">subscribe</button>
            </form>
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  {% endblock %}